{% extends "base.html" %}
{% block title %}MyBook{% endblock %}
{% block body %}



<div class="container-fluid" >
    <h1>MyBook</h1>
    <div class="row" id="menu">
      <div class="col-sm-6" id="admin">
        <div class="area">
            <h2 class="name">Admin</h2>
            <a href="/adminLogin" class="btn btn-info" role="button">Log In</a>
        </div>
      </div>
      <div class="col-sm-6" id="user">
        <div class="area">
            <h2 class="name">User</h2>
            <a href="/userLogin" class="btn btn-info" role="button">Log In</a>
            <a href="/userSign" class="btn btn-info" role="button">Sign Up</a>
        </div>
    </div>
    </div>
  </div>

{% endblock %}