{% extends "base.html" %}
{% block title %}MyBook{% endblock %}
{% block body %}


<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">MyBook</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav mr-auto">
        <li class="active"><a href="/userProf/{{ name }}">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="/userProfEdit">Edit</a></li>
      </ul>
      <form class="navbar-form navbar-right">
        <div class="form-group">
          {% for i in name %}
          <label for="name">{{ i[1] }}</label>
          {% endfor %}
        </div>
        
        <a href="/logout" class="btn btn-info" role="button">Logout</a>
      </form>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </div>
</nav>

  <div class="container-fluid text-center">    
    <div class="row content">
      <div id="exTab1" class="container">	
        <ul  class="nav nav-pills">
          <li class="active"><a  href="#1a" data-toggle="tab">Timeline</a></li>
          <li><a href="#2a" data-toggle="tab">Freinds</a> </li>
          <li><a href="#3a" data-toggle="tab">Groups</a></li>
        </ul>
        <div class="tab-content clearfix">
            <div class="tab-pane active" id="1a">
              <div class="col-sm-8 text-left"> 
                <div class="container bootstrap snippet">
                  <div class="row">
                      <div class="col-md-offset-3 col-md-6 col-xs-12">
                          <div class="well well-sm well-social-post">
                      <form id="userpost">
                          <textarea class="form-control" placeholder="What's in your mind?"></textarea>
                          <a href="#" class='btn btn-primary btn-xs'>Post</a>
                      </form>
                          </div>
                      </div>
                  </div>
                </div>      
              </div>
            </div>
            <div class="tab-pane" id="2a">
              <div class="button">
                <a href="#" class='btn btn-primary btn-xs'>Add Friend</a>
              </div>
            </div>
            <div class="tab-pane" id="3a">
              <h3>Well..</h3>
            </div>
              <div class="tab-pane" id="4a">
                <h3>Well..</h3>
            </div>
        </div>
    </div>
  </div>
  

{% endblock %}